/* 
 new idea: the parent component
 is responsible for laying out its children
 so the children don't neccessarily have to 
 care about the parent, just their children.


*/


div#Projects {
    /* margin-top:0.25em; */
    /* margin-bottom:0.25em; */
    background-color: var(--color-primary-3);
    /* background: linear-gradient(var(--color-primary-4) 0,var(--color-primary-3) 5%, var(--color-primary-2) 95%, var(--color-primary-1) ); */
     

}
div#Projects > .header {
    text-align: center;
}


div#Projects > .container {
    /* The projects should start with a default of one column */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 100% */
    /* on mobile, start with a padding
       of 0.5 * font size
    */
    /* padding: 0.125em; */
}
div#Projects > div.container > div.project-card {
    /* start at a width of 200px */
    flex-basis: 25%;
    /* grow as needed */
    flex-grow: 1;
    /* flex-shrink: 0; */
    /* with a maximum width of 500px */
    /* max-width: 250px; */

    margin:0.25em;
    
}   

/*
    There is more room on mobile phones in landscape mode.
    lets program the grid to take advantage of the extra space
    
    48ems min-width targets tablets with the current font scheme
*/

@media  (min-width:12.5em) {
    div#Projects {
    }
}
/* this media query targets 320px in EMs */
@media  (min-width: 20em) {
    div#Projects {
    }
}

/* this media query targets 375px in EMs */
@media  (min-width: 23.4375em) {
    div#Projects {

    }
}
/* this media query targets 425px in EMs */
@media  (min-width: 26.5625em) {
    div#Projects div#projects-grid {
    }
}
/* this media query targets 768px in EMs */
@media  (min-width: 48em) {
    div#Projects {
    }
}
/* this media query targets 1024px in EMs */
@media  (min-width: 64em) {
    div#Projects {
    }
}
/* this media query targets 1440px in EMs */
@media  (min-width: 90em) {

}
@media  (min-width: 160em) {

}
/* @media  (orientation:landscape) and (min-width:72em) {
    div#Projects div#projects-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
} */




/* 
    The next target for grid-template-columns will be desktop resolutions
    find the breakpoint for 1440px
*/
@media  (min-width: 160em) {
}