div.project-card {
    background-color: var(--color-primary-1);
    /* border-radius: 1em; */
    --card-height: calc(24em - var(--class-card-padding)) ;
    /* height: var(--card-height);
    --header-height: calc(calc(var(--card-height) / 100) * 10);
    --image-height: calc(calc(var(--card-height) / 100) * 60);
    --links-height: calc(calc(var(--card-height) / 100) * 20); */
    position: relative;
    /* padding-top: .5em; */
    padding-bottom:0;
    

}
div.project-card > *:not(:last-child) {
    margin-bottom: .5em;
}

div.project-card h1, div.project-card h2,
div.project-card h3, div.project-card h4,
div.project-card h5, div.project-card h6 {
    text-align: center;
    /* height: calc(calc(var(--card-height) / 100) * 10); */
    margin:0;
    /* margin-bottom:.5em; */
}

div.project-card > img, div.project-card > svg,
div.project-card > object, div.project-card > iframe, div.project-card embed {
    /* height:var(--image-height); */
    display: block;
    width:90%;
    /* max-width:80%; */
    /* height:auto; */
    /* max-height: 10em; */
    margin-left: auto;
    margin-right: auto;
}


/* style the group of source links */
div.project-card div.source-links {
    display: flex;
    flex-direction: row;
    vertical-align: middle;

}
@media screen and (max-width:200px) {
    div.project-card div.source-links {
    flex-direction: column;

    }
}

div.project-card > div.source-links  a[type='button'] {
    display: inline-block;
    flex-grow:1;
    flex-shrink: 1;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
}


/*
     style the link buttons
 */

/* the css variables used to help calculate values */
div.project-card a[type='button'], div.project-card a[type='button']:link,
div.project-card a[type='button']:hover, div.project-card a[type='button']:visited,
div.project-card a[type='button']:active {
    --base-margin: 0.5em;
    --margin-LR:var(--base-margin);
    --margin-bottom:var(--base-margin);
    --border-bottom:0.4em;

    /* --border-left:(calc(calc(var(--border-bottom) * 2) / 3));
    --border-right:(calc(calc(var(--border-bottom) * 2)  / 3)); */
}


div.project-card a[type='button'] {

    background-color: var(--color-complement-2);

    text-decoration: none;
    padding: 0.2em 0.5em;
    font-weight: bold;

    /* border-left: 0.1667em solid var(--color-complement-3);
    border-left: var(--border-left) solid var(--color-complement-3);

    border-right: 0.1667em solid var(--color-complement-3);
    border-right: var(--border-right) solid var(--color-complement-3); */

    border-bottom: 0.25em solid var(--color-complement-4);
    border-bottom: var(--border-bottom) solid var(--color-complement-4);
    margin:0.5em;
}
div.project-card a[type='button']:link {
    color:black;
}
div.project-card a[type='button']:visited {
    color:black;
}
div.project-card a[type='button']:hover {
    background-color: var(--color-complement-1);

    /* border-left: var(--border-left) solid var(--color-complement-2);

    border-right: var(--border-right) solid var(--color-complement-2); */
    
    border-bottom: var(--border-bottom) solid var(--color-complement-3);
    cursor: pointer;
}
div.project-card a[type='button']:active {
    /* border-left: 0.05em solid var(--color-complement-3);
    border-left: calc(var(--border-left) / 2) solid var(--color-complement-3);
 
    border-right: 0.05em solid var(--color-complement-3);
    border-right: calc(var(--border-right) /2) solid var(--color-complement-3); */

    border-bottom: calc(var(--border-bottom) / 2) solid var(--color-complement-3);
    /* transform:rotate(100deg); */
    /* transform: translateY(0.125em) */
    margin-top: calc(0.5em + calc(var(--border-bottom) / 2));

}
