#About {
    background-color: #F5EACE;
}

/* 
    The subheadings will be layed out as follows:
    
    the smallest heading will be 1.16 times the base font size
    the second smallest heading will be 1.75 times the font size
    then the main heading will be 2.67 times the font size


*/
/* reset the styles and provide defaults*/
#About .subheading h1, #About .subheading h2,
#About .subheading h3 {
    margin:0px;
    padding:0px;
}
#profile-links .profile-link {

}
#profile-links .profile-link img {
    /* 
    I will have to play with the font sizes later
    
    */
    max-height: 1em;
}
