/* 
 font.css
 @author Jordan Morris
 global app font settings,
 including dynamic font styles
*/
/* default font size */
html {
    /* default font size in best browser support order */
    font-size: 100%;
    font-size: 1em;
    font-size: 1rem;
    /* 
        If calc is supported, apply a dynamic font size calculation
        equal to 100% plus 1/8th or 1/4th of the viewport width.
        
        In the context below, 100% refers to 100% of the current font size,
        while 'vw' referres to percentage of viewport width

    */
        font-size: calc(100% + 0.25vw);
      
}

/* 
    Because calc is not supported in all browsers or some older versions, 
    polyfill code is required to ensure

*/

/* HD 720p */



/* maximum supported display size: 4k (2160px) */
@media screen and (min-width:2160px){
    /* according to the dynamic font formula above, 
      the max font size at this width should be:
      100% + 1/8 * (breakpoint size) or
      1em + 1/8 * ((breakpoint size)) / 100
    
    */
    html {
      font-size: 370%;
    }
}