


/* 
    make the navbar have a variable height based on the height of the page


*/
nav#main-navigation {
    height: 2.5em;
    width: calc(100% - 1em);
    width: calc(100vw - 1em);
    /* height: 3em; */
    background: white;
    content:"Testing 123";
    display:flex;
    top:0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--color-primary-0);
    position: fixed;
    z-index: 9999;
}
/* 
The body should take the height 
   of the fixed navigation into account
*/
/* body {
    padding-top:1.5em !important;
} */
nav#main-navigation > div#brand {
    /* display: none; */
    flex-basis: 13em;
    flex-shrink: 0.33;
    /* flex-grow: 1; */
}

nav#main-navigation > div#nav-links {
    /* font-size: 2em; */
    /* flex-basis: 75%; */
    flex-grow:3;
    display: inline-flex;
    justify-content: space-around;
    
}

nav#main-navigation > div#brand > p.logo-text {
    margin:0px;
  
    font-weight: bolder;
    text-overflow: ellipsis;
}

nav#main div#brand img {

}


@media screen and (min-width:375px) {
    nav#main-navigation > div#nav-links a,
    nav#main-navigation > div#brand > p.logo-text {
    font-size: 1.125em;
}
@media screen and ( min-width: 425px){
    nav#main-navigation > div#nav-links a,
    nav#main-navigation > div#brand > p.logo-text {
        font-size: 1.25rem;
    }
}
@media screen and (min-width:768px) {
    nav#main-navigation > div#nav-links a,
    nav#main-navigation > div#brand > p.logo-text {
    font-size: 1.5rem;
    }
}
@media screen and (min-width:320px){
    nav#main-navigation {
        /* height: 2em; */
        /* height: 4em; */
        padding-left: 1em;
        padding-right: 1em;
    }

}

}
@media screen and (min-width:768px) {
    nav#main-navigation > div#brand{
        display: initial;
    }
}